* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #424242;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.svg-container {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-content: center;
  width: 100%;
}
.svg-container img {
  height: auto; /* Maintain the aspect ratio */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
